.landing {
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap;
}

.info {
  width: 20rem;
  max-width: 95%;
  margin: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.m-auto {
  margin: auto;
}

.text-centered {
  text-align: center;
}

.card {
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
}

.card__header,
.card__content {
  padding: 1rem;
  margin: 0;
}
